Port 2022

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

LoginGraceTime 2m
PermitRootLogin yes
StrictModes yes

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
UsePAM yes
